.popup {
  position: absolute;
  overflow: hidden;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 1200px;
  width: 0%;
  transition: width 3s;
  z-index: 11;
  background: #fff;
  color: #a9a9a9;
  font-size: 13px;
  font-family: gothampro;
  font-weight: 400;
  
}

.popup__x{
  max-width: 665px;
  text-align: right;
  margin: 47px 0 6px 0;
  font-size: 42px;
  color: #6dcce4;
  cursor: pointer;
}

.popup__tabs {
  position: relative;
  max-width: 100%;
}

.popup__tab {
  float: left;
  padding-right: 73px;
}

.popup__tab>label {
  font-family: gothampro-medium;
  font-size: 11px;
  letter-spacing: 2px;
  position: relative;
  left: 109px;
  cursor: pointer;
}

.popup__tab [type=radio] {
  display: none;
}

.popup__content {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  width: 100%;
  height: 1000px;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
  color: #000;
}

[type=radio]:checked ~ label ~ .popup__content {
  z-index: 1;
}

.content__phone {
  margin: 78px 0 30px 11px;
}

.content__phone>img{
  width: 100%;
  height: 204px;
}

table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid #2eb6d9;
  margin-bottom: 59px;
}

caption {
  text-align: left;
  padding: 0 0 10px 69px;
  color: #000;
  font-size: 18px;
  letter-spacing: 2px;
}

tr {
  vertical-align: top;
  line-height: 1.9;
}

table tr:nth-child(2), table tr:nth-child(4) {
  background-color: #f8f8f8;
}

td{
  width: 230px;
  padding: 13px 0 11px 68px;
}

th{
  padding: 13px 0 11px 140px;
  color: #000;
}

.content__img-1>div, .content__img-3>div{
  float: left;
}

.content__img-1 {
  margin-left: 66px;
}

.content__arrow {
  padding-top: 258px;
}

.content__phone-4>img{
  width: 460px;
  height: 508px;
  padding: 62px 27px 0 23px;
}

.content__arrow_right>img{
  transform: rotate(180deg);
  width: 80%;
}

.content__download {
  width: 130px;
  text-align: center;
  margin: 0 0 49px 286px;
  font-size: 12px;
  position: relative;
  bottom: 7px;
}

.content__img-2 {
  clear: both;
}

.content__text {
  line-height: 1.5;
}

.content__img-3 {
  padding-left: 30px;
  overflow: hidden;
}

.content__img-3>div{
  padding-right: 15px;
  overflow: hidden;
}

.content__manual_margin {
  margin: 0 53px 0 67px;
}

.content__manual {
  width: 254px;
  height: 254px;
  text-align: center;
  float: left;
  border: 1px solid #dbdbdb;
  margin-top: 218px;
}

.content__manual-img {
  padding-top: 35px;
}

.content__manual-arrow {
  margin-top: 12px;
}

.content__manual-text {
  line-height: 1.5;
  font-size: 12px;
}
